.main-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}

.main-container .cars-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.main-container .select-container{
  background-color: black;
  height: 50%;
}