nav{
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.9);
  margin-bottom: 40px;
}

nav h1{
  font-weight: bold !important;
  font-size: 26px;
  color: red;
}

nav ul{
  list-style-type: none;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  display: inline-block;
  text-decoration: none;
  padding: 6px 14px;
  color: whitesmoke;
}